body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.header p {
    margin: 5px 0;
    font-size: 1.1em;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.job, .project, .education-entry {
    margin-bottom: 15px;
}

.job-header, .education-entry h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-header h3, .education-entry h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}

.job-header p, .education-entry p {
    margin: 0;
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
}

.job-header span, .education-entry span {
    font-size: 1.1em;
    color: #555;
    font-weight: normal;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.skills p {
    font-size: 1.1em;
    margin: 0;
}

.language-selector {
    margin-bottom: 20px;
}

.language-selector label {
    font-weight: bold;
    margin-right: 10px;
}

#language-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#language-select:hover {
    background-color: #f0f0f0;
    border-color: #888;
}

#language-select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#language-select option {
    padding: 10px;
}